.menu a{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    text-decoration: none;
}

.menu a:hover{
    background-color:#46556e;
    color:white;
}
h3{
    padding: 10px;
}